<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>
	<meta name="title" content="Destro">
	<link rel="stylesheet" href="../Public/stylesheet/about.css">
	<link rel ="shortcut icon" href="../Public/images/home_18031529.png" type="image/svg+xml">
</head>
<body >
	<header>
		<div class="h_container">
		<img src="../Public/images/favicon.svg" width="190" height="28" class="logo"></a>

		<nav class="navbar" data-navbar>

			<ul class="navbar-list">
				<li><a href="/" class="navbar-link label-medium active">Home</a></li>

				<li><a href="#" class="navbar-link label-medium ">Rent</a></li>

				<li><a href="#" class="navbar-link label-medium ">Sell</a></li>

				<li><a href="/sell" class="navbar-link label-medium ">Buy</a></li>

				<li><a href="/valuate" class="navbar-link label-medium ">Valuate</a></li>

				<li><a href="" class="navbar-link label-medium">Contact Us</a></li>

				<li><a href="/login" class="btn btn-fill label-medium">Get started</a></li>
				
			</ul>
			
		</nav>
	</div>
	
</header>
<div class="container">
	<h1> History </h1>
	<div class = history>
	
	<p>	Destro Real Estate was founded in 2015 with a vision to revolutionize the Kenyan real estate market. Inspired by the rapid growth and development of the country, the founders recognized the need for a platform that would connect buyers and sellers more efficiently and transparently.Starting with a small team and a passion for technology, Destro Real Estate launched its online platform, offering a comprehensive database of properties across Kenya. The platform quickly gained popularity due to its user-friendly interface, advanced search features, and commitment to providing accurate and up-to-date information.As the company grew, Destro Real Estate expanded its services to include property management, investment advice, and virtual tours. The team of experienced real estate professionals became known for their expertise and dedication to helping clients achieve their real estate goals.In 2018, Destro Real Estate partnered with a leading technology firm to develop a cutting-edge mobile app. The app allowed users to search for properties, schedule viewings, and receive real-time updates on the market. This innovation further solidified Destro Real Estate's position as a leading player in the Kenyan real estate industry.Today, Destro Real Estate is a thriving company with a strong reputation for integrity, reliability, and exceptional service. The company continues to invest in technology and innovation to provide its clients with the best possible experience
	</p>
	</div>
	<h2> OUR SERVICES </h2>
	<div class="property-list ">
		<div class="property-card">
		   <img src="../public/images/property-1.jpg">
		   <div class="property-details">
	       <h2> Residential Sales and Rentals </h2>
	    	<p>	We specialize in finding and selling homes that match your specific requirements. Our team of experts can assist you with buying, selling, or renting residential properties in various locations across Kenya. 
	</p>
	</div>
	</div>
	
		<div class="property-card">
	       <img src="../Public/images/property-7.jpg">
		   <div class="property-details">
	       <h2>Commercial Real Estate </h2>
			<p>	Whether you're looking for office space, retail outlets, or industrial properties, we can help you find the perfect commercial space to suit your business needs. Our commercial real estate experts have extensive knowledge of the market and can provide valuable insights. 
	</p>
	</div>
	</div>

	
	<div class="property-card">
	       <img src="../Public/images/property-2.jpg">
		   <div class="property-details">
	       <h2>Property Management </h2>
	<p>	If you own investment properties, our property management services can help you maximize your returns. We handle tasks such as tenant screening, rent collection, maintenance, and property inspections, ensuring that your properties are well-maintained and profitable. 
	</p>
	</div>
	</div>
	<div class="property-card">
	       <img src="../Public/images/property-3.jpg">
		   <div class="property-details">
	       <h2>Investment Advice </h2>
	<p>Our experienced team can provide expert advice on real estate investments. We can help you identify promising opportunities, assess market trends, and make informed decisions about your property investments.
	</p>
	</div>
	</div>
	<div class="property-card ">
	       <img src="../Public/images/property-4.jpg">
		   <div class="property-details">
	       <h2>Virtual Tours </h2>
	<p>Experience properties from the comfort of your own home with our virtual tour technology. Our virtual tours provide detailed views of properties, allowing you to explore them in a convenient and immersive way. 
	</p>
	</div>
	</div>
	<div class="property-card">
	       <img src="../Public/images/property-5.jpg">
		   <div class="property-details">
	       <h2>Online Platform </h2>
	<p>	Our user-friendly online platform makes it easy to search for properties, view listings, and contact our team. You can also access valuable resources and market insights on our website. 
	</p>
		   </div>
	</div>
</div>
</div>
</body>
<footer>
	<div class="row">
		<div class="col">
				<img src="../Public/images/favicon.svg" width="190" height="28" class="logo"></a>
			</div>
			<div class="col">
				<h3>OFFICE</h3>
				<p>Nakuru-Nairobi Highway</p>
				<p>Imarisha Building</p>
				<p class="email_id">destroreal@ac.ke</p>
				<h4>0740925942</h4>
			</div>

			
			<ul class="navb">
				<li><a href="/" class="footer-link">Home</a></li>

				<li><a href="#" class="footer-link">Rent</a></li>

				<li><a href="sell" class="footer-link">Sell</a></li>

				<li><a href="#"class="footer-link" >Buy</a></li>

				<li><a href="valuate" class="footer-link">Valuate</a></li>
				
			</ul>
						
	</div>		
	</div>

</footer>
</html>