<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignUp</title>
    <link rel="stylesheet" href="../Public/stylesheet/signup.css">
    <link rel ="shortcut icon" href="./favicon.svg" type="image/svg+xml">
</head>
<body>
    <div class="signup">
        <form action="submit" method="POST">
            <h3>SIGN UP</h3>
            <label class="label">Username</label><br>
            <input type="text" class="input" placeholder="Enter Username" required name="username">  <label class="label">Email</label>
            <input type="email" class="input" placeholder="Enter email" required name="email">  <label class="label">Date Of birth</label>
            <input class="input" id="dobInput" type="date" name="dateOfBirth">  <label class="label">Password</label>
            <input type="password" class="input" placeholder="Enter Password" required id="password" name="password">  <label class="label"> Confirm Password</label>
            <input type="password" placeholder="Confirm Password" required id="c_password" name="confirmPassword">  <button class="register" type="submit">Register</button>
        </form>
    </div>
    <script>
       
    </script>


</body>
</html>